<%- include("partials/head.ejs") %>
<%- include("partials/navigation.ejs") %>
    <main>
        <% if(prods.length > 0) { %>
            <div class="container">
                <div class="row">
                    <h1>Products</h1>
                    <div class="product-box">
                        <% for(let products of prods) { %> 
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Image" class="card-img-top">
                                <div class="card-body">
                                    <h2 class="card-text"><%= products.title %> </h2>
                                    <a href="#" class="btn btn-primary">Go Somewhere</a>
                                </div>
                            </div>
                        <% } %> 
                    </div>
                </div>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include("partials/end.ejs") %> 