* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    text-rendering: optimizeLegibility;
    font-size: 1.8rem;
}

nav {
    background-color: #f1c40f;
    padding: 2rem 8rem;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 3rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000;
}

main {
    padding: 4rem 8rem;
}

form {
    font-size: 1.6rem;
}

.form-group {
    margin-top: 3rem;
}

form input, textarea {
    padding: .5rem 1rem;
    border: 2px solid #f1c40f;
    width: 50%;
}

form input:active,
form input:focus,
form textarea:active,
form textarea:focus  {
    outline: none;
}

form button {
    background-color: transparent;
    border: 2px solid #f39c12;
    padding: .5rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all .3s;
}

form button:hover {
    background-color: #f39c12;
    color: #fff;
}

.card {
    width: 25%;
    margin: 3rem 10rem 3rem 0;
}

.card-body, .card-body a {
    font-size: 1.6rem;
}

.card-img-top {
    height: 28rem;
}

.card-title {
    margin: 2rem 0;
    font-size: 2.2rem;
}

.card-text {
    font-weight: 500;
}

.card-description {
    font-size: 14px;
    margin: 2rem 0 0;
}

.btn {
    font-size: 1.6rem;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
}

.add-cart-form {
    display: flex;
}

.add-cart-form button {
    margin: 0 0 1rem 1rem;
}

.edit-product {
    margin: 0 0 1rem 1rem;
    width: 20%;
}